<% if (plugins.isocalendar) { %>
    <div class="stdin"><%- meta.$ %> argmin f(x)</div><%# -%>
    Searching for Global Minima....
    <div style="white-space: pre; font-family: monospace;">
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⣿⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣾⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣶⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣶⣿⣿⣿⣿⣿⣾⣏⣟⢿⣿⣞⣿⣳⢿⣟⣿⣿⣿⣶⣦⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣜⣿⣛⢯⡝⢿⣻⣿⣿⣿⣿⣯⣕⡪⢝⠿⣷⣮⣍⣛⠾⢯⣻⢟⢿⢿⣯⣷⣶⢦⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠎⡘⢡⢛⠊⣜⠓⠖⡭⣝⣛⡟⠿⢿⣿⣿⣿⣶⣭⣝⡟⡻⠿⣦⣫⣝⡣⢮⢾⣫⢿⢻⢿⣿⣳⢦⣤⢄⠀⠀⠀⠀⠀⠀⢀⠂
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡜⡐⢑⡂⠓⣜⠠⠙⡒⠔⣠⠌⡌⡍⢓⢢⢌⠓⣥⠹⣿⢿⢱⠤⡂⠅⡙⠛⡣⣦⠥⣋⠛⠧⢃⢋⠟⢧⣏⣟⠶⢤⣀⡀⠀⡜⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠎⢐⠈⡌⠨⢴⢀⠓⢢⢁⢁⠀⠘⡘⠁⠚⠆⠦⣈⠔⢥⢊⠬⡓⡈⡦⣓⢠⠌⡒⠉⢳⡤⢁⠓⢢⡌⠚⠌⡘⠉⡻⡞⣐⣋⡿⠁⠀
    ⠀⠀⠀⠀⠀⠀⢀⠔⢆⣤⡤⡤⢤⠲⠑⡨⠆⣜⢈⢆⠃⡤⡘⠀⡌⡈⡑⢓⢓⠃⡌⡜⡐⠈⡐⢄⠣⡔⠉⠖⡨⢆⠢⢕⡈⡔⢼⡗⠅⠑⢆⠘⠨⣐⠨⠃⢠⢠⢁⣹⠃⠀⠀
    ⠀⠀⠀⠀⠀⢀⠈⡀⢌⢛⢷⡣⣪⢦⢶⢣⢐⡉⡜⠘⢦⠁⠇⡤⣁⠃⠓⠘⡘⢀⢁⢃⠃⠲⢅⠊⠠⡑⢢⡰⡱⢎⠦⢪⡕⣡⡼⡁⢢⡔⢌⠠⠠⠉⠦⡀⠊⠎⣼⡏⠀⠀⠀
    ⠀⠀⠀⠀⠀⢎⢱⠑⡌⢋⣪⣫⣗⣧⢢⢢⢃⢲⠉⡎⡌⢺⣠⠙⠘⠹⠒⠓⢃⢉⡍⡌⡞⣂⠌⡘⢬⡠⢃⠘⡬⣠⣶⠿⡫⡱⢜⠜⡡⢝⡤⡑⢌⢌⣴⣨⡹⢾⡟⠀⠀⠀⠀
    ⠀⢀⡠⡴⠱⡨⠇⣞⠘⡔⣈⢬⢜⢿⣷⢮⠖⡁⣒⠸⡄⠇⡜⢃⡇⡇⠶⠸⣘⡤⢤⠴⢤⣈⡰⢱⢡⢁⢎⡐⣴⣋⢪⡙⡤⣛⠔⣅⠝⣊⠶⣁⡞⢇⢣⢱⣹⡞⠁⠀⠀⠀⠀
    ⠹⣟⣔⣐⢖⠣⡸⢀⠮⡨⢍⠦⡲⢽⣻⣿⣯⣴⡉⣖⠸⢦⠁⢳⣸⣰⣞⣋⢃⢡⣆⢃⣂⢮⢃⢆⡈⠮⡰⢱⣧⢃⠦⣌⡐⠝⣣⢷⢟⢿⣷⡿⠼⣞⠶⠿⠋⠀⠀⠀⠀⠀⠀
    ⠀⠫⣜⡤⣄⣦⠣⡜⣴⣩⣶⣮⣲⡿⢼⣞⣿⣷⣷⣻⣏⡿⣿⣾⡏⡍⣽⣹⡿⣟⣾⣌⣌⠓⣌⡰⠹⢠⢉⣾⡃⣌⡶⣄⠌⣍⠡⣱⡹⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠈⠛⠿⣾⡾⠿⠿⠿⠟⠛⠛⠛⠛⠛⠻⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣞⡿⣾⣴⢣⣄⣛⣾⡷⢇⢣⠡⡍⡞⣬⣽⣼⣺⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣦⣏⡛⠿⡿⠿⡿⠿⢿⣿⣿⣿⣿⣷⣿⣿⡿⣿⣽⢟⣳⢩⡲⣰⠰⣺⣵⡾⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀    ⢀⡙⣿⣿⣶⣡⢪⠑⣬⠪⡱⡺⣻⣿⣿⣿⣿⣿⣿⣿⣾⣾⣗⣿⣽⣷⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⢾⡿⣏⠏⠟⠋⠛⠛⠲⠷⢮⡓⡽⢜⣪⡸⣬⣻⣽⣿⣽⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀ ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀      ⠀ ⠀⠀⠀⠀⠈⠑⠽⣮⣿⣷⣿⡿⠋⠀⠙⠻⠿⠿⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀   ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀  ⠀⠀⠀⠀⠀⠀⠀ ⠀⠀  ⠀⠀⠍o⠋⠁⠀⠀⠀⠀⠀
    </div>
    
    </div>
<% } %>
