/**https://github.com/primer/css/blob/master/LICENSE*/
.dark {
	--color-scale-black: #010409;
	--color-scale-white: #f0f6fc;
	--color-scale-gray-0: #f0f6fc;
	--color-scale-gray-1: #c9d1d9;
	--color-scale-gray-2: #b1bac4;
	--color-scale-gray-3: #8b949e;
	--color-scale-gray-4: #6e7681;
	--color-scale-gray-5: #484f58;
	--color-scale-gray-6: #30363d;
	--color-scale-gray-7: #21262d;
	--color-scale-gray-8: #161b22;
	--color-scale-gray-9: #0d1117;
	--color-scale-blue-0: #cae8ff;
	--color-scale-blue-1: #a5d6ff;
	--color-scale-blue-2: #79c0ff;
	--color-scale-blue-3: #58a6ff;
	--color-scale-blue-4: #388bfd;
	--color-scale-blue-5: #1f6feb;
	--color-scale-blue-6: #1158c7;
	--color-scale-blue-7: #0d419d;
	--color-scale-blue-8: #0c2d6b;
	--color-scale-blue-9: #051d4d;
	--color-scale-green-0: #aff5b4;
	--color-scale-green-1: #7ee787;
	--color-scale-green-2: #56d364;
	--color-scale-green-3: #3fb950;
	--color-scale-green-4: #2ea043;
	--color-scale-green-5: #238636;
	--color-scale-green-6: #196c2e;
	--color-scale-green-7: #0f5323;
	--color-scale-green-8: #033a16;
	--color-scale-green-9: #04260f;
	--color-scale-yellow-0: #f8e3a1;
	--color-scale-yellow-1: #f2cc60;
	--color-scale-yellow-2: #e3b341;
	--color-scale-yellow-3: #d29922;
	--color-scale-yellow-4: #bb8009;
	--color-scale-yellow-5: #9e6a03;
	--color-scale-yellow-6: #845306;
	--color-scale-yellow-7: #693e00;
	--color-scale-yellow-8: #4b2900;
	--color-scale-yellow-9: #341a00;
	--color-scale-orange-0: #ffdfb6;
	--color-scale-orange-1: #ffc680;
	--color-scale-orange-2: #ffa657;
	--color-scale-orange-3: #f0883e;
	--color-scale-orange-4: #db6d28;
	--color-scale-orange-5: #bd561d;
	--color-scale-orange-6: #9b4215;
	--color-scale-orange-7: #762d0a;
	--color-scale-orange-8: #5a1e02;
	--color-scale-orange-9: #3d1300;
	--color-scale-red-0: #ffdcd7;
	--color-scale-red-1: #ffc1ba;
	--color-scale-red-2: #ffa198;
	--color-scale-red-3: #ff7b72;
	--color-scale-red-4: #f85149;
	--color-scale-red-5: #da3633;
	--color-scale-red-6: #b62324;
	--color-scale-red-7: #8e1519;
	--color-scale-red-8: #67060c;
	--color-scale-red-9: #490202;
	--color-scale-purple-0: #eddeff;
	--color-scale-purple-1: #e2c5ff;
	--color-scale-purple-2: #d2a8ff;
	--color-scale-purple-3: #bc8cff;
	--color-scale-purple-4: #a371f7;
	--color-scale-purple-5: #8957e5;
	--color-scale-purple-6: #6e40c9;
	--color-scale-purple-7: #553098;
	--color-scale-purple-8: #3c1e70;
	--color-scale-purple-9: #271052;
	--color-scale-pink-0: #ffdaec;
	--color-scale-pink-1: #ffbedd;
	--color-scale-pink-2: #ff9bce;
	--color-scale-pink-3: #f778ba;
	--color-scale-pink-4: #db61a2;
	--color-scale-pink-5: #bf4b8a;
	--color-scale-pink-6: #9e3670;
	--color-scale-pink-7: #7d2457;
	--color-scale-pink-8: #5e103e;
	--color-scale-pink-9: #42062a;
	--color-auto-black: #f0f6fc;
	--color-auto-white: #010409;
	--color-auto-gray-0: #0d1117;
	--color-auto-gray-1: #161b22;
	--color-auto-gray-2: #21262d;
	--color-auto-gray-3: #30363d;
	--color-auto-gray-4: #484f58;
	--color-auto-gray-5: #6e7681;
	--color-auto-gray-6: #8b949e;
	--color-auto-gray-7: #b1bac4;
	--color-auto-gray-8: #c9d1d9;
	--color-auto-gray-9: #f0f6fc;
	--color-auto-blue-0: #051d4d;
	--color-auto-blue-1: #0c2d6b;
	--color-auto-blue-2: #0d419d;
	--color-auto-blue-3: #1158c7;
	--color-auto-blue-4: #1f6feb;
	--color-auto-blue-5: #388bfd;
	--color-auto-blue-6: #58a6ff;
	--color-auto-blue-7: #79c0ff;
	--color-auto-blue-8: #a5d6ff;
	--color-auto-blue-9: #cae8ff;
	--color-auto-green-0: #04260f;
	--color-auto-green-1: #033a16;
	--color-auto-green-2: #0f5323;
	--color-auto-green-3: #196c2e;
	--color-auto-green-4: #238636;
	--color-auto-green-5: #2ea043;
	--color-auto-green-6: #3fb950;
	--color-auto-green-7: #56d364;
	--color-auto-green-8: #7ee787;
	--color-auto-green-9: #aff5b4;
	--color-auto-yellow-0: #341a00;
	--color-auto-yellow-1: #4b2900;
	--color-auto-yellow-2: #693e00;
	--color-auto-yellow-3: #845306;
	--color-auto-yellow-4: #9e6a03;
	--color-auto-yellow-5: #bb8009;
	--color-auto-yellow-6: #d29922;
	--color-auto-yellow-7: #e3b341;
	--color-auto-yellow-8: #f2cc60;
	--color-auto-yellow-9: #f8e3a1;
	--color-auto-orange-0: #3d1300;
	--color-auto-orange-1: #5a1e02;
	--color-auto-orange-2: #762d0a;
	--color-auto-orange-3: #9b4215;
	--color-auto-orange-4: #bd561d;
	--color-auto-orange-5: #db6d28;
	--color-auto-orange-6: #f0883e;
	--color-auto-orange-7: #ffa657;
	--color-auto-orange-8: #ffc680;
	--color-auto-orange-9: #ffdfb6;
	--color-auto-red-0: #490202;
	--color-auto-red-1: #67060c;
	--color-auto-red-2: #8e1519;
	--color-auto-red-3: #b62324;
	--color-auto-red-4: #da3633;
	--color-auto-red-5: #f85149;
	--color-auto-red-6: #ff7b72;
	--color-auto-red-7: #ffa198;
	--color-auto-red-8: #ffc1ba;
	--color-auto-red-9: #ffdcd7;
	--color-auto-purple-0: #271052;
	--color-auto-purple-1: #3c1e70;
	--color-auto-purple-2: #553098;
	--color-auto-purple-3: #6e40c9;
	--color-auto-purple-4: #8957e5;
	--color-auto-purple-5: #a371f7;
	--color-auto-purple-6: #bc8cff;
	--color-auto-purple-7: #d2a8ff;
	--color-auto-purple-8: #e2c5ff;
	--color-auto-purple-9: #eddeff;
	--color-auto-pink-0: #42062a;
	--color-auto-pink-1: #5e103e;
	--color-auto-pink-2: #7d2457;
	--color-auto-pink-3: #9e3670;
	--color-auto-pink-4: #bf4b8a;
	--color-auto-pink-5: #db61a2;
	--color-auto-pink-6: #f778ba;
	--color-auto-pink-7: #ff9bce;
	--color-auto-pink-8: #ffbedd;
	--color-auto-pink-9: #ffdaec;
	--color-text-primary: #c9d1d9;
	--color-text-secondary: #8b949e;
	--color-text-tertiary: #8b949e;
	--color-text-placeholder: #484f58;
	--color-text-disabled: #484f58;
	--color-text-inverse: #0d1117;
	--color-text-link: #58a6ff;
	--color-text-danger: #f85149;
	--color-text-success: #56d364;
	--color-text-warning: #e3b341;
	--color-text-white: #f0f6fc;
	--color-icon-primary: #c9d1d9;
	--color-icon-secondary: #6e7681;
	--color-icon-tertiary: #484f58;
	--color-icon-info: #79c0ff;
	--color-icon-danger: #f85149;
	--color-icon-success: #56d364;
	--color-icon-warning: #e3b341;
	--color-border-primary: #30363d;
	--color-border-secondary: #21262d;
	--color-border-tertiary: #6e7681;
	--color-border-overlay: #30363d;
	--color-border-inverse: #f0f6fc;
	--color-border-info: rgba(56,139,253,0.4);
	--color-border-danger: rgba(248,81,73,0.4);
	--color-border-success: rgba(63,185,80,0.4);
	--color-border-warning: rgba(187,128,9,0.4);
	--color-bg-canvas: #0d1117;
	--color-bg-canvas-mobile: #010409;
	--color-bg-canvas-inverse: #f0f6fc;
	--color-bg-canvas-inset: #06090f;
	--color-bg-primary: #0d1117;
	--color-bg-secondary: #0d1117;
	--color-bg-tertiary: #161b22;
	--color-bg-overlay: #21262d;
	--color-bg-backdrop: rgba(1,4,9,0.8);
	--color-bg-info: rgba(56,139,253,0.1);
	--color-bg-info-inverse: #388bfd;
	--color-bg-danger: rgba(248,81,73,0.1);
	--color-bg-danger-inverse: #da3633;
	--color-bg-success: rgba(46,160,67,0.1);
	--color-bg-success-inverse: #2ea043;
	--color-bg-warning: rgba(187,128,9,0.1);
	--color-bg-warning-inverse: #bb8009;
	--color-shadow-small: 0 0 transparent;
	--color-shadow-medium: 0 3px 6px #010409;
	--color-shadow-large: 0 8px 24px #010409;
	--color-shadow-extra-large: 0 12px 48px #010409;
	--color-shadow-highlight: 0 0 transparent;
	--color-shadow-inset: 0 0 transparent;
	--color-state-hover-primary-bg: #1f6feb;
	--color-state-hover-primary-border: #388bfd;
	--color-state-hover-primary-text: #f0f6fc;
	--color-state-hover-primary-icon: #f0f6fc;
	--color-state-hover-secondary-bg: #161b22;
	--color-state-hover-secondary-border: #161b22;
	--color-state-selected-primary-bg: #1f6feb;
	--color-state-selected-primary-border: #388bfd;
	--color-state-selected-primary-text: #f0f6fc;
	--color-state-selected-primary-icon: #f0f6fc;
	--color-state-focus-border: #388bfd;
	--color-state-focus-shadow: 0 0 0 3px #0c2d6b;
	--color-fade-fg-10: rgba(240,246,252,0.1);
	--color-fade-fg-15: rgba(240,246,252,0.15);
	--color-fade-fg-30: rgba(240,246,252,0.3);
	--color-fade-fg-50: rgba(240,246,252,0.5);
	--color-fade-fg-70: rgba(240,246,252,0.7);
	--color-fade-fg-85: rgba(240,246,252,0.85);
	--color-fade-black-10: rgba(1,4,9,0.1);
	--color-fade-black-15: rgba(1,4,9,0.15);
	--color-fade-black-30: rgba(1,4,9,0.3);
	--color-fade-black-50: rgba(1,4,9,0.5);
	--color-fade-black-70: rgba(1,4,9,0.7);
	--color-fade-black-85: rgba(1,4,9,0.85);
	--color-fade-white-10: rgba(240,246,252,0.1);
	--color-fade-white-15: rgba(240,246,252,0.15);
	--color-fade-white-30: rgba(240,246,252,0.3);
	--color-fade-white-50: rgba(240,246,252,0.5);
	--color-fade-white-70: rgba(240,246,252,0.7);
	--color-fade-white-85: rgba(240,246,252,0.85);
	--color-alert-info-text: #79c0ff;
	--color-alert-info-icon: #79c0ff;
	--color-alert-info-bg: rgba(56,139,253,0.1);
	--color-alert-info-border: rgba(56,139,253,0.4);
	--color-alert-warn-text: #e3b341;
	--color-alert-warn-icon: #e3b341;
	--color-alert-warn-bg: rgba(187,128,9,0.1);
	--color-alert-warn-border: rgba(187,128,9,0.4);
	--color-alert-error-text: #ff7b72;
	--color-alert-error-icon: #ff7b72;
	--color-alert-error-bg: rgba(248,81,73,0.1);
	--color-alert-error-border: rgba(248,81,73,0.4);
	--color-alert-success-text: #56d364;
	--color-alert-success-icon: #56d364;
	--color-alert-success-bg: rgba(46,160,67,0.1);
	--color-alert-success-border: rgba(46,160,67,0.4);
	--color-autocomplete-shadow: 0 16px 32px rgba(1,4,9,0.85);
	--color-autocomplete-row-border: #30363d;
	--color-blankslate-icon: #535c66;
	--color-btn-text: #c9d1d9;
	--color-btn-bg: #21262d;
	--color-btn-border: #30363d;
	--color-btn-shadow: 0 0 transparent;
	--color-btn-inset-shadow: 0 0 transparent;
	--color-btn-hover-bg: #30363d;
	--color-btn-hover-border: #8b949e;
	--color-btn-selected-bg: #161b22;
	--color-btn-focus-bg: #21262d;
	--color-btn-focus-border: #8b949e;
	--color-btn-focus-shadow: 0 0 0 3px rgba(139,148,158,0.3);
	--color-btn-shadow-active: inset 0 0.15em 0.3em rgba(1,4,9,0.15);
	--color-btn-shadow-input-focus: 0 0 0 0.2em rgba(31,111,235,0.3);
	--color-btn-primary-text: #fff;
	--color-btn-primary-bg: #238636;
	--color-btn-primary-border: #2ea043;
	--color-btn-primary-shadow: 0 0 transparent;
	--color-btn-primary-inset-shadow: 0 0 transparent;
	--color-btn-primary-hover-bg: #2ea043;
	--color-btn-primary-hover-border: #3fb950;
	--color-btn-primary-selected-bg: #238636;
	--color-btn-primary-selected-shadow: 0 0 transparent;
	--color-btn-primary-disabled-text: rgba(240,246,252,0.5);
	--color-btn-primary-disabled-bg: rgba(35,134,54,0.6);
	--color-btn-primary-disabled-border: transparent;
	--color-btn-primary-focus-bg: #238636;
	--color-btn-primary-focus-border: #3fb950;
	--color-btn-primary-focus-shadow: 0 0 0 3px rgba(46,164,79,0.4);
	--color-btn-primary-icon: #f0f6fc;
	--color-btn-primary-counter-bg: rgba(240,246,252,0.2);
	--color-btn-outline-text: #58a6ff;
	--color-btn-outline-hover-text: #58a6ff;
	--color-btn-outline-hover-bg: #30363d;
	--color-btn-outline-hover-border: #58a6ff;
	--color-btn-outline-hover-shadow: 0 1px 0 rgba(1,4,9,0.1);
	--color-btn-outline-hover-inset-shadow: inset 0 1px 0 rgba(240,246,252,0.03);
	--color-btn-outline-hover-counter-bg: rgba(240,246,252,0.2);
	--color-btn-outline-selected-text: #f0f6fc;
	--color-btn-outline-selected-bg: #0d419d;
	--color-btn-outline-selected-border: rgba(240,246,252,0.1);
	--color-btn-outline-selected-shadow: 0 0 transparent;
	--color-btn-outline-disabled-text: rgba(88,166,255,0.5);
	--color-btn-outline-disabled-bg: #0d1117;
	--color-btn-outline-disabled-counter-bg: rgba(31,111,235,0.05);
	--color-btn-outline-focus-border: #58a6ff;
	--color-btn-outline-focus-shadow: 0 0 0 3px rgba(17,88,199,0.4);
	--color-btn-outline-counter-bg: rgba(31,111,235,0.1);
	--color-btn-danger-text: #f85149;
	--color-btn-danger-hover-text: #fff;
	--color-btn-danger-hover-bg: #da3633;
	--color-btn-danger-hover-border: #f85149;
	--color-btn-danger-hover-shadow: 0 0 transparent;
	--color-btn-danger-hover-inset-shadow: 0 0 transparent;
	--color-btn-danger-hover-counter-bg: hsla(0,0%,100%,0.2);
	--color-btn-danger-selected-text: #fff;
	--color-btn-danger-selected-bg: #b62324;
	--color-btn-danger-selected-border: rgba(240,246,252,0.1);
	--color-btn-danger-selected-shadow: 0 0 transparent;
	--color-btn-danger-disabled-text: #f85149;
	--color-btn-danger-disabled-bg: #0d1117;
	--color-btn-danger-disabled-counter-bg: rgba(218,54,51,0.05);
	--color-btn-danger-focus-border: #f85149;
	--color-btn-danger-focus-shadow: 0 0 0 3px rgba(182,35,36,0.4);
	--color-btn-danger-counter-bg: rgba(218,54,51,0.1);
	--color-btn-counter-bg: #30363d;
	--color-counter-text: #c9d1d9;
	--color-counter-bg: #30363d;
	--color-counter-primary-text: #c9d1d9;
	--color-counter-primary-bg: #6e7681;
	--color-counter-secondary-text: #8b949e;
	--color-dropdown-shadow: 0 16px 32px rgba(1,4,9,0.85);
	--color-label-border: #30363d;
	--color-label-primary-text: #b1bac4;
	--color-label-primary-border: #6e7681;
	--color-label-secondary-text: #8b949e;
	--color-label-secondary-border: #30363d;
	--color-label-info-text: #388bfd;
	--color-label-info-border: rgba(56,139,253,0.4);
	--color-label-success-text: #3fb950;
	--color-label-success-border: rgba(46,160,67,0.4);
	--color-label-warning-text: #e3b341;
	--color-label-warning-border: rgba(242,211,91,0.4);
	--color-label-danger-text: #f85149;
	--color-label-danger-border: rgba(248,81,73,0.4);
	--color-label-orange-text: #db6d28;
	--color-label-orange-border: rgba(219,109,40,0.4);
	--color-input-bg: #0d1117;
	--color-input-contrast-bg: rgba(1,4,9,0.3);
	--color-input-border: #21262d;
	--color-input-shadow: 0 0 transparent;
	--color-input-disabled-bg: #161b22;
	--color-input-disabled-border: #30363d;
	--color-input-warning-border: #d29922;
	--color-input-error-border: #f85149;
	--color-input-tooltip-success-text: #56d364;
	--color-input-tooltip-success-bg: #101f1b;
	--color-input-tooltip-success-border: #1c532b;
	--color-input-tooltip-warning-text: #e3b341;
	--color-input-tooltip-warning-bg: #1e1c16;
	--color-input-tooltip-warning-border: #5d4411;
	--color-input-tooltip-error-text: #ff7b72;
	--color-input-tooltip-error-bg: #25171c;
	--color-input-tooltip-error-border: #792e2e;
	--color-avatar-bg: #f0f6fc;
	--color-avatar-border: rgba(240,246,252,0.1);
	--color-avatar-stack-fade: #30363d;
	--color-avatar-stack-fade-more: #21262d;
	--color-avatar-child-shadow: -2px -2px 0 #0d1117;
	--color-toast-text: #79c0ff;
	--color-toast-bg: #010409;
	--color-toast-border: #214981;
	--color-toast-shadow: 0 8px 24px #010409;
	--color-toast-icon: #79c0ff;
	--color-toast-icon-bg: #121d2e;
	--color-toast-icon-border: #214981;
	--color-toast-success-text: #56d364;
	--color-toast-success-border: #1c532c;
	--color-toast-success-icon: #56d364;
	--color-toast-success-icon-bg: #111f1c;
	--color-toast-success-icon-border: #1c532c;
	--color-toast-warning-text: #e3b341;
	--color-toast-warning-border: #5e4411;
	--color-toast-warning-icon: #e3b341;
	--color-toast-warning-icon-bg: #1f1c16;
	--color-toast-warning-icon-border: #5e4411;
	--color-toast-danger-text: #ff7b72;
	--color-toast-danger-border: #792e2e;
	--color-toast-danger-icon: #ff7b72;
	--color-toast-danger-icon-bg: #25171c;
	--color-toast-danger-icon-border: #792e2e;
	--color-toast-loading-text: #c9d1d9;
	--color-toast-loading-border: #30363d;
	--color-toast-loading-icon: #f0f6fc;
	--color-toast-loading-icon-bg: #30363d;
	--color-toast-loading-icon-border: #30363d;
	--color-timeline-text: #b1bac4;
	--color-timeline-badge-bg: #0d1117;
	--color-timeline-target-badge-border: #1f6feb;
	--color-timeline-target-badge-shadow: #0d419d;
	--color-select-menu-border-secondary: #30363d;
	--color-select-menu-shadow: 0 0 18px rgba(1,4,9,0.4);
	--color-select-menu-backdrop-bg: rgba(1,4,9,0.5);
	--color-select-menu-backdrop-border: #484f58;
	--color-select-menu-tap-highlight: rgba(48,54,61,0.5);
	--color-select-menu-tap-focus-bg: #0c2d6b;
	--color-box-blue-border: #0d419d;
	--color-box-row-yellow-bg: rgba(235,196,64,0.1);
	--color-box-row-blue-bg: rgba(121,192,255,0.1);
	--color-box-header-blue-bg: #0d1117;
	--color-box-header-blue-border: #30363d;
	--color-box-border-info: rgba(56,139,253,0.4);
	--color-box-bg-info: rgba(56,139,253,0.1);
	--color-box-border-warning: rgba(187,128,9,0.4);
	--color-box-bg-warning: rgba(187,128,9,0.1);
	--color-branch-name-text: #c9d1d9;
	--color-branch-name-icon: #b1bac4;
	--color-branch-name-bg: rgba(88,166,255,0.1);
	--color-branch-name-link-text: #58a6ff;
	--color-branch-name-link-icon: #58a6ff;
	--color-branch-name-link-bg: rgba(88,166,255,0.1);
	--color-markdown-code-bg: rgba(240,246,252,0.15);
	--color-markdown-frame-border: #3b434b;
	--color-markdown-blockquote-border: #3b434b;
	--color-markdown-table-border: #3b434b;
	--color-markdown-table-tr-border: #272c32;
	--color-menu-heading-text: #8b949e;
	--color-menu-border-active: #f78166;
	--color-menu-bg-active: #161b22;
	--color-sidenav-selected-bg: #21262d;
	--color-sidenav-border-active: #f78166;
	--color-header-text: rgba(240,246,252,0.7);
	--color-header-bg: #161b22;
	--color-header-logo: #f0f6fc;
	--color-filter-item-bar-bg: #12161c;
	--color-hidden-text-expander-bg: #21262d;
	--color-hidden-text-expander-bg-hover: #30363d;
	--color-drag-and-drop-border: #25292f;
	--color-upload-enabled-border: #3b434b;
	--color-upload-enabled-border-focused: #4487ee;
	--color-previewable-comment-form-border: #25292f;
	--color-underlinenav-border: rgba(48,54,61,0);
	--color-underlinenav-border-hover: #30363d;
	--color-underlinenav-border-active: #f78166;
	--color-underlinenav-text: #8b949e;
	--color-underlinenav-text-hover: #c9d1d9;
	--color-underlinenav-text-active: #c9d1d9;
	--color-underlinenav-icon: #6e7681;
	--color-underlinenav-icon-hover: #c9d1d9;
	--color-underlinenav-icon-active: #c9d1d9;
	--color-underlinenav-counter-text: #8b949e;
	--color-verified-badge-text: #3fb950;
	--color-verified-badge-bg: rgba(63,185,80,0.1);
	--color-verified-badge-border: rgba(63,185,80,0.4);
	--color-social-count-bg: #21262d;
	--color-tooltip-text: #f0f6fc;
	--color-tooltip-bg: #21262d;
	--color-header-search-bg: #0d1117;
	--color-header-search-border: #21262d;
	--color-search-keyword-hl: rgba(187,128,9,0.4);
	--color-diffstat-neutral-bg: #30363d;
	--color-diffstat-neutral-border: rgba(240,246,252,0.1);
	--color-diffstat-deletion-bg: #da3633;
	--color-diffstat-deletion-border: #f85149;
	--color-diffstat-addition-bg: #238636;
	--color-diffstat-addition-border: #2ea043;
	--color-files-explorer-icon: #6e7681;
	--color-hl-author-bg: #051d4d;
	--color-hl-author-border: #0d419d;
	--color-logo-subdued: #30363d;
	--color-discussion-border: #34513b;
	--color-discussion-bg-success: rgba(46,160,67,0.1);
	--color-actions-workflow-table-sticky-bg: rgba(13,17,23,0.95);
	--color-repo-language-color-border: rgba(240,246,252,0.2);
	--color-code-selection-bg: rgba(121,192,255,0.3);
	--color-blob-line-highlight-bg: rgba(187,128,9,0.1);
	--color-blob-line-highlight-border: #bb8009;
	--color-diff-addition-text: #56d364;
	--color-diff-addition-bg: rgba(35,134,54,0.15);
	--color-diff-addition-border: #196c2e;
	--color-diff-deletion-text: #f85149;
	--color-diff-deletion-bg: rgba(218,54,51,0.15);
	--color-diff-deletion-border: #b62324;
	--color-diff-change-text: #e3b341;
	--color-diff-change-bg: #341a00;
	--color-diff-change-border: #9e6a03;
	--color-diff-blob-num-text: rgba(240,246,252,0.3);
	--color-diff-blob-num-hover-text: rgba(240,246,252,0.6);
	--color-diff-blob-addition-num-text: #3fb950;
	--color-diff-blob-addition-num-hover-text: #7ee787;
	--color-diff-blob-addition-num-bg: rgba(35,134,54,0.05);
	--color-diff-blob-addition-line-bg: rgba(35,134,54,0.15);
	--color-diff-blob-addition-word-bg: rgba(35,134,54,0.3);
	--color-diff-blob-deletion-num-text: #f85149;
	--color-diff-blob-deletion-num-hover-text: #ffa198;
	--color-diff-blob-deletion-num-bg: rgba(218,54,51,0.05);
	--color-diff-blob-deletion-line-bg: rgba(218,54,51,0.15);
	--color-diff-blob-deletion-word-bg: rgba(218,54,51,0.3);
	--color-diff-blob-hunk-text: #8b949e;
	--color-diff-blob-hunk-num-bg: rgba(88,166,255,0.15);
	--color-diff-blob-hunk-line-bg: rgba(88,166,255,0.1);
	--color-diff-blob-empty-block-bg: #161b22;
	--color-diff-blob-selected-line-highlight-bg: rgba(187,128,9,0.1);
	--color-diff-blob-selected-line-highlight-border: #bb8009;
	--color-diff-blob-selected-line-highlight-mix-blend-mode: normal;
	--color-diff-blob-expander-icon: #8b949e;
	--color-diff-blob-expander-hover-icon: #f0f6fc;
	--color-diff-blob-expander-hover-bg: #1f6feb;
	--color-diff-blob-comment-button-icon: #f0f6fc;
	--color-diff-blob-comment-button-bg: #1f6feb;
	--color-diff-blob-comment-button-gradient-bg: #367eed;
	--color-global-nav-logo: #f0f6fc;
	--color-global-nav-bg: #161b22;
	--color-global-nav-text: #c9d1d9;
	--color-global-nav-icon: #c9d1d9;
	--color-global-nav-input-bg: #0d1117;
	--color-global-nav-input-border: #21262d;
	--color-global-nav-input-icon: #21262d;
	--color-global-nav-input-placeholder: #484f58;
	--color-calendar-graph-day-bg: #161b22;
	--color-calendar-graph-day-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L1-bg: #01311f;
	--color-calendar-graph-day-L2-bg: #034525;
	--color-calendar-graph-day-L3-bg: #0f6d31;
	--color-calendar-graph-day-L4-bg: #00c647;
	--color-calendar-graph-day-L4-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L3-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L2-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L1-border: rgba(27,31,35,0.06);
	--color-footer-invertocat-octicon: #30363d;
	--color-footer-invertocat-octicon-hover: #6e7681;
	--color-pr-state-draft-text: #8b949e;
	--color-pr-state-draft-bg: rgba(139,148,158,0.1);
	--color-pr-state-draft-border: rgba(139,148,158,0.4);
	--color-pr-state-open-text: #3fb950;
	--color-pr-state-open-bg: rgba(63,185,80,0.1);
	--color-pr-state-open-border: rgba(63,185,80,0.4);
	--color-pr-state-merged-text: #a371f7;
	--color-pr-state-merged-bg: rgba(188,140,255,0.1);
	--color-pr-state-merged-border: rgba(188,140,255,0.4);
	--color-pr-state-closed-text: #f85149;
	--color-pr-state-closed-bg: rgba(218,54,51,0.1);
	--color-pr-state-closed-border: rgba(218,54,51,0.4);
	--color-topic-tag-text: #58a6ff;
	--color-topic-tag-bg: rgba(56,139,253,0.1);
	--color-topic-tag-hover-bg: rgba(56,139,253,0.2);
	--color-topic-tag-active-bg: rgba(56,139,253,0.15);
	--color-merge-box-success-icon-bg: rgba(46,160,67,0.1);
	--color-merge-box-success-icon-text: #3fb950;
	--color-merge-box-success-icon-border: rgba(46,160,67,0.4);
	--color-merge-box-success-indicator-bg: #238636;
	--color-merge-box-success-indicator-border: #2ea043;
	--color-merge-box-merged-icon-bg: rgba(188,140,255,0.1);
	--color-merge-box-merged-icon-text: #a371f7;
	--color-merge-box-merged-icon-border: rgba(188,140,255,0.4);
	--color-merge-box-merged-box-border: rgba(188,140,255,0.4);
	--color-merge-box-neutral-icon-bg: rgba(201,209,217,0.1);
	--color-merge-box-neutral-icon-text: #8b949e;
	--color-merge-box-neutral-icon-border: rgba(201,209,217,0.4);
	--color-merge-box-neutral-indicator-bg: #484f58;
	--color-merge-box-neutral-indicator-border: #6e7681;
	--color-merge-box-warning-icon-bg: rgba(187,128,9,0.1);
	--color-merge-box-warning-icon-text: #e3b341;
	--color-merge-box-warning-icon-border: rgba(187,128,9,0.4);
	--color-merge-box-warning-box-border: rgba(187,128,9,0.4);
	--color-merge-box-warning-merge-highlight: rgba(187,128,9,0.1);
	--color-merge-box-error-icon-bg: rgba(248,81,73,0.1);
	--color-merge-box-error-icon-text: #f85149;
	--color-merge-box-error-icon-border: rgba(248,81,73,0.4);
	--color-merge-box-error-indicator-bg: #da3633;
	--color-merge-box-error-indicator-border: #f85149;
	--color-project-card-bg: #161b22;
	--color-project-header-bg: #0d1117;
	--color-project-sidebar-bg: #161b22;
	--color-project-gradient-in: #161b22;
	--color-project-gradient-out: rgba(22,27,34,0);
	--color-marketing-icon-primary: #79c0ff;
	--color-marketing-icon-secondary: #1f6feb;
	--color-prettylights-syntax-comment: #8b949e;
	--color-prettylights-syntax-constant: #79c0ff;
	--color-prettylights-syntax-entity: #d2a8ff;
	--color-prettylights-syntax-storage-modifier-import: #c9d1d9;
	--color-prettylights-syntax-entity-tag: #7ee787;
	--color-prettylights-syntax-keyword: #ff7b72;
	--color-prettylights-syntax-string: #a5d6ff;
	--color-prettylights-syntax-variable: #ffa657;
	--color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
	--color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	--color-prettylights-syntax-invalid-illegal-bg: #8e1519;
	--color-prettylights-syntax-carriage-return-text: #f0f6fc;
	--color-prettylights-syntax-carriage-return-bg: #b62324;
	--color-prettylights-syntax-string-regexp: #7ee787;
	--color-prettylights-syntax-markup-list: #f2cc60;
	--color-prettylights-syntax-markup-heading: #1f6feb;
	--color-prettylights-syntax-markup-italic: #c9d1d9;
	--color-prettylights-syntax-markup-bold: #c9d1d9;
	--color-prettylights-syntax-markup-deleted-text: #ffdcd7;
	--color-prettylights-syntax-markup-deleted-bg: #67060c;
	--color-prettylights-syntax-markup-inserted-text: #aff5b4;
	--color-prettylights-syntax-markup-inserted-bg: #033a16;
	--color-prettylights-syntax-markup-changed-text: #ffdfb6;
	--color-prettylights-syntax-markup-changed-bg: #5a1e02;
	--color-prettylights-syntax-markup-ignored-text: #c9d1d9;
	--color-prettylights-syntax-markup-ignored-bg: #1158c7;
	--color-prettylights-syntax-meta-diff-range: #d2a8ff;
	--color-prettylights-syntax-brackethighlighter-angle: #8b949e;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
	--color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
	--color-codemirror-text: #c9d1d9;
	--color-codemirror-bg: #0d1117;
	--color-codemirror-gutters-bg: #0d1117;
	--color-codemirror-guttermarker-text: #0d1117;
	--color-codemirror-guttermarker-subtle-text: #6e7681;
	--color-codemirror-linenumber-text: #8b949e;
	--color-codemirror-cursor: #f0f6fc;
	--color-codemirror-selection-bg: rgba(121,192,255,0.3);
	--color-codemirror-activeline-bg: #161b22;
	--color-codemirror-matchingbracket-text: #c9d1d9;
	--color-codemirror-lines-bg: #0d1117;
	--color-codemirror-syntax-comment: #8b949e;
	--color-codemirror-syntax-constant: #79c0ff;
	--color-codemirror-syntax-entity: #d2a8ff;
	--color-codemirror-syntax-keyword: #ff7b72;
	--color-codemirror-syntax-storage: #ff7b72;
	--color-codemirror-syntax-string: #a5d6ff;
	--color-codemirror-syntax-support: #79c0ff;
	--color-codemirror-syntax-variable: #ffa657;
	--color-ansi-black: #0d1117;
	--color-ansi-black-bright: #161b22;
	--color-ansi-white: #b1bac4;
	--color-ansi-white-bright: #b1bac4;
	--color-ansi-gray: #6e7681;
	--color-ansi-red: #ff7b72;
	--color-ansi-red-bright: #ffa198;
	--color-ansi-green: #3fb950;
	--color-ansi-green-bright: #56d364;
	--color-ansi-yellow: #d29922;
	--color-ansi-yellow-bright: #e3b341;
	--color-ansi-blue: #58a6ff;
	--color-ansi-blue-bright: #79c0ff;
	--color-ansi-magenta: #bc8cff;
	--color-ansi-magenta-bright: #d2a8ff;
	--color-ansi-cyan: #76e3ea;
	--color-ansi-cyan-bright: #b3f0ff;
}

:root {
	--color-scale-black: #1b1f23;
	--color-scale-white: #fff;
	--color-scale-gray-0: #fafbfc;
	--color-scale-gray-1: #f6f8fa;
	--color-scale-gray-2: #e1e4e8;
	--color-scale-gray-3: #d1d5da;
	--color-scale-gray-4: #959da5;
	--color-scale-gray-5: #6a737d;
	--color-scale-gray-6: #586069;
	--color-scale-gray-7: #444d56;
	--color-scale-gray-8: #2f363d;
	--color-scale-gray-9: #24292e;
	--color-scale-blue-0: #f1f8ff;
	--color-scale-blue-1: #dbedff;
	--color-scale-blue-2: #c8e1ff;
	--color-scale-blue-3: #79b8ff;
	--color-scale-blue-4: #2188ff;
	--color-scale-blue-5: #0366d6;
	--color-scale-blue-6: #005cc5;
	--color-scale-blue-7: #044289;
	--color-scale-blue-8: #032f62;
	--color-scale-blue-9: #05264c;
	--color-scale-green-0: #f0fff4;
	--color-scale-green-1: #dcffe4;
	--color-scale-green-2: #bef5cb;
	--color-scale-green-3: #85e89d;
	--color-scale-green-4: #34d058;
	--color-scale-green-5: #28a745;
	--color-scale-green-6: #22863a;
	--color-scale-green-7: #176f2c;
	--color-scale-green-8: #165c26;
	--color-scale-green-9: #144620;
	--color-scale-yellow-0: #fffdef;
	--color-scale-yellow-1: #fffbdd;
	--color-scale-yellow-2: #fff5b1;
	--color-scale-yellow-3: #ffea7f;
	--color-scale-yellow-4: #ffdf5d;
	--color-scale-yellow-5: #ffd33d;
	--color-scale-yellow-6: #f9c513;
	--color-scale-yellow-7: #dbab09;
	--color-scale-yellow-8: #b08800;
	--color-scale-yellow-9: #735c0f;
	--color-scale-orange-0: #fff8f2;
	--color-scale-orange-1: #ffebda;
	--color-scale-orange-2: #ffd1ac;
	--color-scale-orange-3: #ffab70;
	--color-scale-orange-4: #fb8532;
	--color-scale-orange-5: #f66a0a;
	--color-scale-orange-6: #e36209;
	--color-scale-orange-7: #d15704;
	--color-scale-orange-8: #c24e00;
	--color-scale-orange-9: #a04100;
	--color-scale-red-0: #ffeef0;
	--color-scale-red-1: #ffdce0;
	--color-scale-red-2: #fdaeb7;
	--color-scale-red-3: #f97583;
	--color-scale-red-4: #ea4a5a;
	--color-scale-red-5: #d73a49;
	--color-scale-red-6: #cb2431;
	--color-scale-red-7: #b31d28;
	--color-scale-red-8: #9e1c23;
	--color-scale-red-9: #86181d;
	--color-scale-purple-0: #f5f0ff;
	--color-scale-purple-1: #e6dcfd;
	--color-scale-purple-2: #d1bcf9;
	--color-scale-purple-3: #b392f0;
	--color-scale-purple-4: #8a63d2;
	--color-scale-purple-5: #6f42c1;
	--color-scale-purple-6: #5a32a3;
	--color-scale-purple-7: #4c2889;
	--color-scale-purple-8: #3a1d6e;
	--color-scale-purple-9: #29134e;
	--color-scale-pink-0: #ffeef8;
	--color-scale-pink-1: #fedbf0;
	--color-scale-pink-2: #f9b3dd;
	--color-scale-pink-3: #f692ce;
	--color-scale-pink-4: #ec6cb9;
	--color-scale-pink-5: #ea4aaa;
	--color-scale-pink-6: #d03592;
	--color-scale-pink-7: #b93a86;
	--color-scale-pink-8: #99306f;
	--color-scale-pink-9: #6d224f;
	--color-auto-black: #1b1f23;
	--color-auto-white: #fff;
	--color-auto-gray-0: #fafbfc;
	--color-auto-gray-1: #f6f8fa;
	--color-auto-gray-2: #e1e4e8;
	--color-auto-gray-3: #d1d5da;
	--color-auto-gray-4: #959da5;
	--color-auto-gray-5: #6a737d;
	--color-auto-gray-6: #586069;
	--color-auto-gray-7: #444d56;
	--color-auto-gray-8: #2f363d;
	--color-auto-gray-9: #24292e;
	--color-auto-blue-0: #f1f8ff;
	--color-auto-blue-1: #dbedff;
	--color-auto-blue-2: #c8e1ff;
	--color-auto-blue-3: #79b8ff;
	--color-auto-blue-4: #2188ff;
	--color-auto-blue-5: #0366d6;
	--color-auto-blue-6: #005cc5;
	--color-auto-blue-7: #044289;
	--color-auto-blue-8: #032f62;
	--color-auto-blue-9: #05264c;
	--color-auto-green-0: #f0fff4;
	--color-auto-green-1: #dcffe4;
	--color-auto-green-2: #bef5cb;
	--color-auto-green-3: #85e89d;
	--color-auto-green-4: #34d058;
	--color-auto-green-5: #28a745;
	--color-auto-green-6: #22863a;
	--color-auto-green-7: #176f2c;
	--color-auto-green-8: #165c26;
	--color-auto-green-9: #144620;
	--color-auto-yellow-0: #fffdef;
	--color-auto-yellow-1: #fffbdd;
	--color-auto-yellow-2: #fff5b1;
	--color-auto-yellow-3: #ffea7f;
	--color-auto-yellow-4: #ffdf5d;
	--color-auto-yellow-5: #ffd33d;
	--color-auto-yellow-6: #f9c513;
	--color-auto-yellow-7: #dbab09;
	--color-auto-yellow-8: #b08800;
	--color-auto-yellow-9: #735c0f;
	--color-auto-orange-0: #fff8f2;
	--color-auto-orange-1: #ffebda;
	--color-auto-orange-2: #ffd1ac;
	--color-auto-orange-3: #ffab70;
	--color-auto-orange-4: #fb8532;
	--color-auto-orange-5: #f66a0a;
	--color-auto-orange-6: #e36209;
	--color-auto-orange-7: #d15704;
	--color-auto-orange-8: #c24e00;
	--color-auto-orange-9: #a04100;
	--color-auto-red-0: #ffeef0;
	--color-auto-red-1: #ffdce0;
	--color-auto-red-2: #fdaeb7;
	--color-auto-red-3: #f97583;
	--color-auto-red-4: #ea4a5a;
	--color-auto-red-5: #d73a49;
	--color-auto-red-6: #cb2431;
	--color-auto-red-7: #b31d28;
	--color-auto-red-8: #9e1c23;
	--color-auto-red-9: #86181d;
	--color-auto-purple-0: #f5f0ff;
	--color-auto-purple-1: #e6dcfd;
	--color-auto-purple-2: #d1bcf9;
	--color-auto-purple-3: #b392f0;
	--color-auto-purple-4: #8a63d2;
	--color-auto-purple-5: #6f42c1;
	--color-auto-purple-6: #5a32a3;
	--color-auto-purple-7: #4c2889;
	--color-auto-purple-8: #3a1d6e;
	--color-auto-purple-9: #29134e;
	--color-auto-pink-0: #ffeef8;
	--color-auto-pink-1: #fedbf0;
	--color-auto-pink-2: #f9b3dd;
	--color-auto-pink-3: #f692ce;
	--color-auto-pink-4: #ec6cb9;
	--color-auto-pink-5: #ea4aaa;
	--color-auto-pink-6: #d03592;
	--color-auto-pink-7: #b93a86;
	--color-auto-pink-8: #99306f;
	--color-auto-pink-9: #6d224f;
	--color-text-primary: #24292e;
	--color-text-secondary: #586069;
	--color-text-tertiary: #6a737d;
	--color-text-placeholder: #6a737d;
	--color-text-disabled: #6a737d;
	--color-text-inverse: #fff;
	--color-text-link: #0366d6;
	--color-text-danger: #cb2431;
	--color-text-success: #22863a;
	--color-text-warning: #b08800;
	--color-text-white: #fff;
	--color-icon-primary: #24292e;
	--color-icon-secondary: #586069;
	--color-icon-tertiary: #959da5;
	--color-icon-info: #0366d6;
	--color-icon-danger: #d73a49;
	--color-icon-success: #22863a;
	--color-icon-warning: #b08800;
	--color-border-primary: #e1e4e8;
	--color-border-secondary: #eaecef;
	--color-border-tertiary: #d1d5da;
	--color-border-overlay: #e1e4e8;
	--color-border-inverse: #fff;
	--color-border-info: #0366d6;
	--color-border-danger: #d73a49;
	--color-border-success: #34d058;
	--color-border-warning: #f9c513;
	--color-bg-canvas: #fff;
	--color-bg-canvas-mobile: #fff;
	--color-bg-canvas-inverse: #24292e;
	--color-bg-canvas-inset: #f6f8fa;
	--color-bg-primary: #fff;
	--color-bg-secondary: #fafbfc;
	--color-bg-tertiary: #f6f8fa;
	--color-bg-overlay: #fff;
	--color-bg-backdrop: rgba(27,31,35,0.5);
	--color-bg-info: #f1f8ff;
	--color-bg-info-inverse: #0366d6;
	--color-bg-danger: #ffeef0;
	--color-bg-danger-inverse: #d73a49;
	--color-bg-success: #dcffe4;
	--color-bg-success-inverse: #28a745;
	--color-bg-warning: #fff5b1;
	--color-bg-warning-inverse: #ffd33d;
	--color-shadow-small: 0 1px 0 rgba(27,31,35,0.04);
	--color-shadow-medium: 0 3px 6px rgba(149,157,165,0.15);
	--color-shadow-large: 0 8px 24px rgba(149,157,165,0.2);
	--color-shadow-extra-large: 0 12px 48px rgba(149,157,165,0.3);
	--color-shadow-highlight: inset 0 1px 0 hsla(0,0%,100%,0.25);
	--color-shadow-inset: inset 0 1px 0 rgba(225,228,232,0.2);
	--color-state-hover-primary-bg: #0366d6;
	--color-state-hover-primary-border: #0366d6;
	--color-state-hover-primary-text: #fff;
	--color-state-hover-primary-icon: #fff;
	--color-state-hover-secondary-bg: #f6f8fa;
	--color-state-hover-secondary-border: #f6f8fa;
	--color-state-selected-primary-bg: #0366d6;
	--color-state-selected-primary-border: #0366d6;
	--color-state-selected-primary-text: #fff;
	--color-state-selected-primary-icon: #fff;
	--color-state-focus-border: #0366d6;
	--color-state-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3);
	--color-fade-fg-10: rgba(27,31,35,0.1);
	--color-fade-fg-15: rgba(27,31,35,0.15);
	--color-fade-fg-30: rgba(27,31,35,0.3);
	--color-fade-fg-50: rgba(27,31,35,0.5);
	--color-fade-fg-70: rgba(27,31,35,0.7);
	--color-fade-fg-85: rgba(27,31,35,0.85);
	--color-fade-black-10: rgba(27,31,35,0.1);
	--color-fade-black-15: rgba(27,31,35,0.15);
	--color-fade-black-30: rgba(27,31,35,0.3);
	--color-fade-black-50: rgba(27,31,35,0.5);
	--color-fade-black-70: rgba(27,31,35,0.7);
	--color-fade-black-85: rgba(27,31,35,0.85);
	--color-fade-white-10: hsla(0,0%,100%,0.1);
	--color-fade-white-15: hsla(0,0%,100%,0.15);
	--color-fade-white-30: hsla(0,0%,100%,0.3);
	--color-fade-white-50: hsla(0,0%,100%,0.5);
	--color-fade-white-70: hsla(0,0%,100%,0.7);
	--color-fade-white-85: hsla(0,0%,100%,0.85);
	--color-alert-info-text: #24292e;
	--color-alert-info-icon: rgba(4,66,137,0.6);
	--color-alert-info-bg: #dbedff;
	--color-alert-info-border: rgba(4,66,137,0.2);
	--color-alert-warn-text: #24292e;
	--color-alert-warn-icon: #b08800;
	--color-alert-warn-bg: #fffbdd;
	--color-alert-warn-border: rgba(176,136,0,0.2);
	--color-alert-error-text: #24292e;
	--color-alert-error-icon: rgba(158,28,35,0.6);
	--color-alert-error-bg: #ffe3e6;
	--color-alert-error-border: rgba(158,28,35,0.2);
	--color-alert-success-text: #24292e;
	--color-alert-success-icon: rgba(23,111,44,0.8);
	--color-alert-success-bg: #dcffe4;
	--color-alert-success-border: rgba(23,111,44,0.2);
	--color-autocomplete-shadow: 0 3px 6px rgba(149,157,165,0.15);
	--color-autocomplete-row-border: #eaecef;
	--color-blankslate-icon: #a3aab1;
	--color-btn-text: #24292e;
	--color-btn-bg: #fafbfc;
	--color-btn-border: rgba(27,31,35,0.15);
	--color-btn-shadow: 0 1px 0 rgba(27,31,35,0.04);
	--color-btn-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.25);
	--color-btn-hover-bg: #f3f4f6;
	--color-btn-hover-border: rgba(27,31,35,0.15);
	--color-btn-selected-bg: #edeff2;
	--color-btn-focus-bg: #fafbfc;
	--color-btn-focus-border: rgba(27,31,35,0.15);
	--color-btn-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3);
	--color-btn-shadow-active: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
	--color-btn-shadow-input-focus: 0 0 0 0.2em rgba(3,102,214,0.3);
	--color-btn-primary-text: #fff;
	--color-btn-primary-bg: #2ea44f;
	--color-btn-primary-border: rgba(27,31,35,0.15);
	--color-btn-primary-shadow: 0 1px 0 rgba(27,31,35,0.1);
	--color-btn-primary-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.03);
	--color-btn-primary-hover-bg: #2c974b;
	--color-btn-primary-hover-border: rgba(27,31,35,0.15);
	--color-btn-primary-selected-bg: #2a8f47;
	--color-btn-primary-selected-shadow: inset 0 1px 0 rgba(20,70,32,0.2);
	--color-btn-primary-disabled-text: hsla(0,0%,100%,0.8);
	--color-btn-primary-disabled-bg: #94d3a2;
	--color-btn-primary-disabled-border: rgba(27,31,35,0.1);
	--color-btn-primary-focus-bg: #2ea44f;
	--color-btn-primary-focus-border: rgba(27,31,35,0.15);
	--color-btn-primary-focus-shadow: 0 0 0 3px rgba(46,164,79,0.4);
	--color-btn-primary-icon: hsla(0,0%,100%,0.8);
	--color-btn-primary-counter-bg: hsla(0,0%,100%,0.2);
	--color-btn-outline-text: #0366d6;
	--color-btn-outline-hover-text: #fff;
	--color-btn-outline-hover-bg: #0366d6;
	--color-btn-outline-hover-border: rgba(27,31,35,0.15);
	--color-btn-outline-hover-shadow: 0 1px 0 rgba(27,31,35,0.1);
	--color-btn-outline-hover-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.03);
	--color-btn-outline-hover-counter-bg: hsla(0,0%,100%,0.2);
	--color-btn-outline-selected-text: #fff;
	--color-btn-outline-selected-bg: #035fc7;
	--color-btn-outline-selected-border: rgba(27,31,35,0.15);
	--color-btn-outline-selected-shadow: inset 0 1px 0 rgba(5,38,76,0.2);
	--color-btn-outline-disabled-text: rgba(3,102,214,0.5);
	--color-btn-outline-disabled-bg: #fafbfc;
	--color-btn-outline-disabled-counter-bg: rgba(3,102,214,0.05);
	--color-btn-outline-focus-border: rgba(27,31,35,0.15);
	--color-btn-outline-focus-shadow: 0 0 0 3px rgba(0,92,197,0.4);
	--color-btn-outline-counter-bg: rgba(3,102,214,0.1);
	--color-btn-danger-text: #d73a49;
	--color-btn-danger-hover-text: #fff;
	--color-btn-danger-hover-bg: #cb2431;
	--color-btn-danger-hover-border: rgba(27,31,35,0.15);
	--color-btn-danger-hover-shadow: 0 1px 0 rgba(27,31,35,0.1);
	--color-btn-danger-hover-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.03);
	--color-btn-danger-hover-counter-bg: hsla(0,0%,100%,0.2);
	--color-btn-danger-selected-text: #fff;
	--color-btn-danger-selected-bg: #d42d3d;
	--color-btn-danger-selected-border: rgba(27,31,35,0.15);
	--color-btn-danger-selected-shadow: inset 0 1px 0 rgba(134,24,29,0.2);
	--color-btn-danger-disabled-text: rgba(215,58,73,0.5);
	--color-btn-danger-disabled-bg: #fafbfc;
	--color-btn-danger-disabled-counter-bg: rgba(215,58,73,0.05);
	--color-btn-danger-focus-border: rgba(27,31,35,0.15);
	--color-btn-danger-focus-shadow: 0 0 0 3px rgba(203,36,49,0.4);
	--color-btn-danger-counter-bg: rgba(215,58,73,0.1);
	--color-btn-counter-bg: rgba(27,31,35,0.08);
	--color-counter-text: #24292e;
	--color-counter-bg: rgba(209,213,218,0.5);
	--color-counter-primary-text: #fff;
	--color-counter-primary-bg: #6a737d;
	--color-counter-secondary-text: #6a737d;
	--color-dropdown-shadow: 0 8px 24px rgba(149,157,165,0.2);
	--color-label-border: #e1e4e8;
	--color-label-primary-text: #24292e;
	--color-label-primary-border: #6a737d;
	--color-label-secondary-text: #586069;
	--color-label-secondary-border: #e1e4e8;
	--color-label-info-text: #0366d6;
	--color-label-info-border: #0366d6;
	--color-label-success-text: #22863a;
	--color-label-success-border: #28a745;
	--color-label-warning-text: #735c0f;
	--color-label-warning-border: #b08800;
	--color-label-danger-text: #d73a49;
	--color-label-danger-border: #cb2431;
	--color-label-orange-text: #c24e00;
	--color-label-orange-border: #f66a0a;
	--color-input-bg: #fff;
	--color-input-contrast-bg: #fafbfc;
	--color-input-border: #e1e4e8;
	--color-input-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
	--color-input-disabled-bg: #fff;
	--color-input-disabled-border: #e1e4e8;
	--color-input-warning-border: #f9c513;
	--color-input-error-border: #cb2431;
	--color-input-tooltip-success-text: #144620;
	--color-input-tooltip-success-bg: #dcffe4;
	--color-input-tooltip-success-border: #34d058;
	--color-input-tooltip-warning-text: #735c0f;
	--color-input-tooltip-warning-bg: #fff5b1;
	--color-input-tooltip-warning-border: #f9c513;
	--color-input-tooltip-error-text: #86181d;
	--color-input-tooltip-error-bg: #ffeef0;
	--color-input-tooltip-error-border: #f97583;
	--color-avatar-bg: #fff;
	--color-avatar-border: transparent;
	--color-avatar-stack-fade: #d1d5da;
	--color-avatar-stack-fade-more: #e1e4e8;
	--color-avatar-child-shadow: -2px -2px 0 hsla(0,0%,100%,0.8);
	--color-toast-text: #24292e;
	--color-toast-bg: #fff;
	--color-toast-border: #e1e4e8;
	--color-toast-shadow: 0 8px 24px rgba(149,157,165,0.2);
	--color-toast-icon: #fff;
	--color-toast-icon-bg: #0366d6;
	--color-toast-icon-border: transparent;
	--color-toast-success-text: #24292e;
	--color-toast-success-border: #e1e4e8;
	--color-toast-success-icon: #fff;
	--color-toast-success-icon-bg: #28a745;
	--color-toast-success-icon-border: transparent;
	--color-toast-warning-text: #24292e;
	--color-toast-warning-border: #e1e4e8;
	--color-toast-warning-icon: #24292e;
	--color-toast-warning-icon-bg: #ffd33d;
	--color-toast-warning-icon-border: transparent;
	--color-toast-danger-text: #24292e;
	--color-toast-danger-border: #e1e4e8;
	--color-toast-danger-icon: #fff;
	--color-toast-danger-icon-bg: #d73a49;
	--color-toast-danger-icon-border: transparent;
	--color-toast-loading-text: #24292e;
	--color-toast-loading-border: #e1e4e8;
	--color-toast-loading-icon: #fff;
	--color-toast-loading-icon-bg: #586069;
	--color-toast-loading-icon-border: transparent;
	--color-timeline-text: #444d56;
	--color-timeline-badge-bg: #e1e4e8;
	--color-timeline-target-badge-border: #2188ff;
	--color-timeline-target-badge-shadow: #c8e1ff;
	--color-select-menu-border-secondary: #eaecef;
	--color-select-menu-shadow: 0 0 18px rgba(27,31,35,0.4);
	--color-select-menu-backdrop-bg: rgba(27,31,35,0.5);
	--color-select-menu-backdrop-border: transparent;
	--color-select-menu-tap-highlight: rgba(209,213,218,0.5);
	--color-select-menu-tap-focus-bg: #dbedff;
	--color-box-blue-border: #c8e1ff;
	--color-box-row-yellow-bg: #fffbdd;
	--color-box-row-blue-bg: #f1f8ff;
	--color-box-header-blue-bg: #f1f8ff;
	--color-box-header-blue-border: #c8e1ff;
	--color-box-border-info: rgba(3,102,214,0.2);
	--color-box-bg-info: #f1f8ff;
	--color-box-border-warning: rgba(255,211,61,0.4);
	--color-box-bg-warning: #fffdef;
	--color-branch-name-text: rgba(27,31,35,0.6);
	--color-branch-name-icon: #a8bbd0;
	--color-branch-name-bg: #eaf5ff;
	--color-branch-name-link-text: #0366d6;
	--color-branch-name-link-icon: #a8bbd0;
	--color-branch-name-link-bg: #eaf5ff;
	--color-markdown-code-bg: rgba(27,31,35,0.05);
	--color-markdown-frame-border: #dfe2e5;
	--color-markdown-blockquote-border: #dfe2e5;
	--color-markdown-table-border: #dfe2e5;
	--color-markdown-table-tr-border: #c6cbd1;
	--color-menu-heading-text: #24292e;
	--color-menu-border-active: #f9826c;
	--color-menu-bg-active: transparent;
	--color-sidenav-selected-bg: #fff;
	--color-sidenav-border-active: #f9826c;
	--color-header-text: hsla(0,0%,100%,0.7);
	--color-header-bg: #24292e;
	--color-header-logo: #fff;
	--color-filter-item-bar-bg: #eff3f6;
	--color-hidden-text-expander-bg: #dfe2e5;
	--color-hidden-text-expander-bg-hover: #c6cbd1;
	--color-drag-and-drop-border: #c3c8cf;
	--color-upload-enabled-border: #dfe2e5;
	--color-upload-enabled-border-focused: #4a9eff;
	--color-previewable-comment-form-border: #c3c8cf;
	--color-underlinenav-border: rgba(209,213,218,0);
	--color-underlinenav-border-hover: #d1d5da;
	--color-underlinenav-border-active: #f9826c;
	--color-underlinenav-text: #24292e;
	--color-underlinenav-text-hover: #24292e;
	--color-underlinenav-text-active: #24292e;
	--color-underlinenav-icon: #959da5;
	--color-underlinenav-icon-hover: #959da5;
	--color-underlinenav-icon-active: #24292e;
	--color-underlinenav-counter-text: #24292e;
	--color-verified-badge-text: #22863a;
	--color-verified-badge-bg: #fff;
	--color-verified-badge-border: #e1e4e8;
	--color-social-count-bg: #fff;
	--color-tooltip-text: #fff;
	--color-tooltip-bg: #24292e;
	--color-header-search-bg: #24292e;
	--color-header-search-border: #444d56;
	--color-search-keyword-hl: #fffbdd;
	--color-diffstat-neutral-bg: #d1d5da;
	--color-diffstat-neutral-border: #d1d5da;
	--color-diffstat-deletion-bg: #d73a49;
	--color-diffstat-deletion-border: #d73a49;
	--color-diffstat-addition-bg: #28a745;
	--color-diffstat-addition-border: #28a745;
	--color-files-explorer-icon: #79b8ff;
	--color-hl-author-bg: #f1f8ff;
	--color-hl-author-border: #c8e1ff;
	--color-logo-subdued: #d1d5da;
	--color-discussion-border: #a2cbac;
	--color-discussion-bg-success: #28a745;
	--color-actions-workflow-table-sticky-bg: hsla(0,0%,100%,0.95);
	--color-repo-language-color-border: rgba(27,31,35,0.1);
	--color-code-selection-bg: #c8e1ff;
	--color-blob-line-highlight-bg: #fffbdd;
	--color-blob-line-highlight-border: transparent;
	--color-diff-addition-text: #22863a;
	--color-diff-addition-bg: #e6ffed;
	--color-diff-addition-border: #34d058;
	--color-diff-deletion-text: #cb2431;
	--color-diff-deletion-bg: #ffeef0;
	--color-diff-deletion-border: #d73a49;
	--color-diff-change-text: #b08800;
	--color-diff-change-bg: #fff5b1;
	--color-diff-change-border: #f9c513;
	--color-diff-blob-num-text: rgba(27,31,35,0.3);
	--color-diff-blob-num-hover-text: rgba(27,31,35,0.6);
	--color-diff-blob-addition-num-text: rgba(27,31,35,0.3);
	--color-diff-blob-addition-num-hover-text: rgba(27,31,35,0.6);
	--color-diff-blob-addition-num-bg: #cdffd8;
	--color-diff-blob-addition-line-bg: #e6ffed;
	--color-diff-blob-addition-word-bg: #acf2bd;
	--color-diff-blob-deletion-num-text: rgba(27,31,35,0.3);
	--color-diff-blob-deletion-num-hover-text: rgba(27,31,35,0.6);
	--color-diff-blob-deletion-num-bg: #ffdce0;
	--color-diff-blob-deletion-line-bg: #ffeef0;
	--color-diff-blob-deletion-word-bg: #fdb8c0;
	--color-diff-blob-hunk-text: rgba(27,31,35,0.7);
	--color-diff-blob-hunk-num-bg: #dbedff;
	--color-diff-blob-hunk-line-bg: #f1f8ff;
	--color-diff-blob-empty-block-bg: #fafbfc;
	--color-diff-blob-selected-line-highlight-bg: rgba(255,223,93,0.2);
	--color-diff-blob-selected-line-highlight-border: #ffd33d;
	--color-diff-blob-selected-line-highlight-mix-blend-mode: multiply;
	--color-diff-blob-expander-icon: #586069;
	--color-diff-blob-expander-hover-icon: #fff;
	--color-diff-blob-expander-hover-bg: #0366d6;
	--color-diff-blob-comment-button-icon: #fff;
	--color-diff-blob-comment-button-bg: #0366d6;
	--color-diff-blob-comment-button-gradient-bg: #0372ef;
	--color-global-nav-logo: #fff;
	--color-global-nav-bg: #24292e;
	--color-global-nav-text: #fff;
	--color-global-nav-icon: #fff;
	--color-global-nav-input-bg: #fafbfc;
	--color-global-nav-input-border: #fafbfc;
	--color-global-nav-input-icon: #d1d5da;
	--color-global-nav-input-placeholder: #959da5;
	--color-calendar-graph-day-bg: #ebedf0;
	--color-calendar-graph-day-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L1-bg: #9be9a8;
	--color-calendar-graph-day-L2-bg: #40c463;
	--color-calendar-graph-day-L3-bg: #30a14e;
	--color-calendar-graph-day-L4-bg: #216e39;
	--color-calendar-graph-day-L4-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L3-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L2-border: rgba(27,31,35,0.06);
	--color-calendar-graph-day-L1-border: rgba(27,31,35,0.06);
	--color-footer-invertocat-octicon: #d1d5da;
	--color-footer-invertocat-octicon-hover: #6a737d;
	--color-pr-state-draft-text: #fff;
	--color-pr-state-draft-bg: #6a737d;
	--color-pr-state-draft-border: transparent;
	--color-pr-state-open-text: #fff;
	--color-pr-state-open-bg: #28a745;
	--color-pr-state-open-border: transparent;
	--color-pr-state-merged-text: #fff;
	--color-pr-state-merged-bg: #6f42c1;
	--color-pr-state-merged-border: transparent;
	--color-pr-state-closed-text: #fff;
	--color-pr-state-closed-bg: #d73a49;
	--color-pr-state-closed-border: transparent;
	--color-topic-tag-text: #0366d6;
	--color-topic-tag-bg: #f1f8ff;
	--color-topic-tag-hover-bg: #def;
	--color-topic-tag-active-bg: #e7f3ff;
	--color-merge-box-success-icon-bg: #28a745;
	--color-merge-box-success-icon-text: #fff;
	--color-merge-box-success-icon-border: transparent;
	--color-merge-box-success-indicator-bg: #28a745;
	--color-merge-box-success-indicator-border: transparent;
	--color-merge-box-merged-icon-bg: #6f42c1;
	--color-merge-box-merged-icon-text: #fff;
	--color-merge-box-merged-icon-border: transparent;
	--color-merge-box-merged-box-border: #6f42c1;
	--color-merge-box-neutral-icon-bg: #6a737d;
	--color-merge-box-neutral-icon-text: #fff;
	--color-merge-box-neutral-icon-border: transparent;
	--color-merge-box-neutral-indicator-bg: #6a737d;
	--color-merge-box-neutral-indicator-border: transparent;
	--color-merge-box-warning-icon-bg: #dbab09;
	--color-merge-box-warning-icon-text: #fff;
	--color-merge-box-warning-icon-border: transparent;
	--color-merge-box-warning-box-border: #ffd33d;
	--color-merge-box-warning-merge-highlight: transparent;
	--color-merge-box-error-icon-bg: #d73a49;
	--color-merge-box-error-icon-text: #fff;
	--color-merge-box-error-icon-border: transparent;
	--color-merge-box-error-indicator-bg: #d73a49;
	--color-merge-box-error-indicator-border: transparent;
	--color-project-card-bg: #fff;
	--color-project-header-bg: #24292e;
	--color-project-sidebar-bg: #fff;
	--color-project-gradient-in: #fff;
	--color-project-gradient-out: hsla(0,0%,100%,0);
	--color-marketing-icon-primary: #2188ff;
	--color-marketing-icon-secondary: #79b8ff;
	--color-prettylights-syntax-comment: #6a737d;
	--color-prettylights-syntax-constant: #005cc5;
	--color-prettylights-syntax-entity: #6f42c1;
	--color-prettylights-syntax-storage-modifier-import: #24292e;
	--color-prettylights-syntax-entity-tag: #22863a;
	--color-prettylights-syntax-keyword: #d73a49;
	--color-prettylights-syntax-string: #032f62;
	--color-prettylights-syntax-variable: #e36209;
	--color-prettylights-syntax-brackethighlighter-unmatched: #b31d28;
	--color-prettylights-syntax-invalid-illegal-text: #fafbfc;
	--color-prettylights-syntax-invalid-illegal-bg: #b31d28;
	--color-prettylights-syntax-carriage-return-text: #fafbfc;
	--color-prettylights-syntax-carriage-return-bg: #d73a49;
	--color-prettylights-syntax-string-regexp: #22863a;
	--color-prettylights-syntax-markup-list: #735c0f;
	--color-prettylights-syntax-markup-heading: #005cc5;
	--color-prettylights-syntax-markup-italic: #24292e;
	--color-prettylights-syntax-markup-bold: #24292e;
	--color-prettylights-syntax-markup-deleted-text: #b31d28;
	--color-prettylights-syntax-markup-deleted-bg: #ffeef0;
	--color-prettylights-syntax-markup-inserted-text: #22863a;
	--color-prettylights-syntax-markup-inserted-bg: #f0fff4;
	--color-prettylights-syntax-markup-changed-text: #e36209;
	--color-prettylights-syntax-markup-changed-bg: #ffebda;
	--color-prettylights-syntax-markup-ignored-text: #f6f8fa;
	--color-prettylights-syntax-markup-ignored-bg: #005cc5;
	--color-prettylights-syntax-meta-diff-range: #6f42c1;
	--color-prettylights-syntax-brackethighlighter-angle: #586069;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #959da5;
	--color-prettylights-syntax-constant-other-reference-link: #032f62;
	--color-codemirror-text: #24292e;
	--color-codemirror-bg: #fff;
	--color-codemirror-gutters-bg: #fff;
	--color-codemirror-guttermarker-text: #fff;
	--color-codemirror-guttermarker-subtle-text: #d1d5da;
	--color-codemirror-linenumber-text: #959da5;
	--color-codemirror-cursor: #24292e;
	--color-codemirror-selection-bg: #c8e1ff;
	--color-codemirror-activeline-bg: #fafbfc;
	--color-codemirror-matchingbracket-text: #24292e;
	--color-codemirror-lines-bg: #fff;
	--color-codemirror-syntax-comment: #6a737d;
	--color-codemirror-syntax-constant: #005cc5;
	--color-codemirror-syntax-entity: #6f42c1;
	--color-codemirror-syntax-keyword: #d73a49;
	--color-codemirror-syntax-storage: #d73a49;
	--color-codemirror-syntax-string: #032f62;
	--color-codemirror-syntax-support: #005cc5;
	--color-codemirror-syntax-variable: #e36209;
	--color-ansi-black: #24292e;
	--color-ansi-black-bright: #2f363d;
	--color-ansi-white: #e1e4e8;
	--color-ansi-white-bright: #e1e4e8;
	--color-ansi-gray: #959da5;
	--color-ansi-red: #f97583;
	--color-ansi-red-bright: #fdaeb7;
	--color-ansi-green: #85e89d;
	--color-ansi-green-bright: #bef5cb;
	--color-ansi-yellow: #ffea7f;
	--color-ansi-yellow-bright: #fff5b1;
	--color-ansi-blue: #79b8ff;
	--color-ansi-blue-bright: #c8e1ff;
	--color-ansi-magenta: #b392f0;
	--color-ansi-magenta-bright: #d1bcf9;
	--color-ansi-cyan: #76e3ea;
	--color-ansi-cyan-bright: #b3f0ff;
}